

/*
* Styling for list layout elements
*/
.list-layout{
    overflow: hidden;
}
.list-layout .list-item.video-box{
    padding-left: 1%;
    padding-right: 15px;
}


/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

/*
* Carousel container styling
*/

#carousel{
    overflow: hidden !important;
}

/*
* Video thumbnails styling
*/
.video-list .list-item {
    min-height: 180px;
}
.video-list.wide .list-item {
    min-height: 200px;
}
.video-list.wide {
    padding: 5px;
}
.video-list.wide .list-layout .list-item {
    padding-left: 1%;
    padding-right: 1%;
}
